<section class="hero is-small">
  <div class="container">
    <div class="hero-body">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>#</th>
            <th>Champion</th>
            <th>Games</th>
            <th>Score</th>
            <th>Total Points</th>
            <th>Awards</th>
            <th>Milestones</th>
            <th>W</th>
            <th>L</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</section>