<div class="modal" [ngClass]="{'is-active': showLogin.modalIsOpen}">
  <div class="modal-background"></div>
  <div class="modal-content" *ngIf="isLogin">
    <section class="section">
      <form>
        <div class="columns is-multiline">
          <div class="column is-12 has-text-centered">
            <p class="has-text-weight-bold title is-3 has-text-link title-login">Login</p>
            <p class=" has-text-link title-login subtitle">join the cause</p>
            <br><br>
            <div class="field">
              <div class="control">
                <input class="input is-link tran-input" autocomplete=on type="text" name="username" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input  is-link tran-input" autocomplete=on type="password" name="password" placeholder="Password">
              </div>
            </div>
            <br><br>
            <div class="field">
              <a class="button is-link is-outlined is-block">Login</a>
            </div>
            <br><br>
            <div class="field">
              <nav class="level">
                <div class="level-item">
                  <a class="button is-info is-fullwidth">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    &nbsp;Facebook</a>&nbsp;
                </div>
                <div class="level-item">&nbsp;
                  <a class="button is-danger is-fullwidth">
                    <i class="fa fa-google" aria-hidden="true"></i> &nbsp;Google</a>
                </div>
              </nav>
            </div>
            <p>
              <a (click)="isLogin = false">Don't have an account?</a>
            </p>
          </div>
        </div>
      </form>
    </section>
  </div>
  <div class="modal-content" *ngIf="!isLogin">
    <section class="section">
      <form>
        <div class="columns is-multiline">
          <div class="column is-12 has-text-centered">
            <p class="has-text-weight-bold title is-3 has-text-link title-login">Register</p>
            <p class=" has-text-link title-login subtitle">apply for the job</p>
            <br><br>
            <div class="field">
              <div class="control">
                <input class="input is-link tran-input" autocomplete=on type="text" name="name" placeholder="Name">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-link tran-input" autocomplete=on type="text" name="lastname" placeholder="Lastname">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-link tran-input" autocomplete=on type="text" name="username" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input  is-link tran-input" autocomplete=on type="password" name="password" placeholder="Password">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input  is-link tran-input" autocomplete=on type="password" name="password" placeholder="Confirm Pssword">
              </div>
            </div>
            <br><br>
            <div class="field">
              <a class="button is-link is-outlined is-block">Register</a>
            </div>

            <p>
              <a (click)="isLogin = true">Already have an account?</a>
            </p>
          </div>
        </div>
      </form>
    </section>
  </div>
  <button class="modal-close is-large" (click)="showLogin.modalIsOpen = false" aria-label="close"></button>
</div>