<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <div class="card">

          <div class=" card-content">
            <form>
              <p class="title is-size-4-desktop is-size-5-touch">Change Password</p>
              <div class="field">
                <label class="label">Current password</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input class="input is-fullwidth" [(ngModel)]="current"  name="current" autocomplete="current-password" [type]="showcurrent ? 'text' : 'password'">
                  </div>
                  <div class="control">
                    <a class="button is-link" (mousedown)="showcurrent = true;" (mouseup)="showcurrent = false">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">New password</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input class="input is-fullwidth" [(ngModel)]="newPassword" name="newPassword" autocomplete="new-password" [type]="shownewpass ? 'text' : 'password'">
                  </div>
                  <div class="control">
                    <a class="button is-link" (mousedown)="shownewpass = true;" (mouseup)="shownewpass = false">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="field ">
                <label class="label">Confirm new password</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input class="input is-fullwidth" [(ngModel)]="verify" name="verify" autocomplete="new-password" [type]="showverify ? 'text' : 'password'">
                  </div>
                  <div class="control">
                    <a class="button is-link" (mousedown)="showverify = true;" (mouseup)="showverify = false">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
              <br>
              <div class="field is-clearfix">
                <span class="buttons is-pulled-right">
                  <a class="button is-black" [routerLink]="['/profile']">cancel</a>
                  <a class="button is-primary" (click)="changePassword()">change password</a>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>