<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label has-text-left">Select Team</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select">
                  <select [(ngModel)]="teamId" (change)="getTeamPlayers()">
                    <option [value]="t.id" *ngFor="let t of teams">{{t.title}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label has-text-left">Date of Game</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" [(ngModel)]="game.date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
              </p>
            </div>
            <div class="field">
              <span class="buttons">
                <a class="button is-link" (click)="addPlayer()">Add Player</a>
                <a class="button is-success" (click)="insertGame()">Save Game</a>
              </span>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label has-text-left">Choose Board</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select ">
                  <select [(ngModel)]="boardId" (change)="setBoardToPlayers()">
                    <option [value]="p.id" *ngFor="let p of boards">{{p.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-12" *ngIf="gameScore">
        <div class="card card-content">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label  has-text-link">Player</label>
                <div class="control is-expanded">
                  <div class="select is-fullwidth ">
                    <select [(ngModel)]="gameScore.userId">
                      <option [value]="p.id" *ngFor="let p of players">{{p.lastname}} {{p.firstname}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label  has-text-link">Placement</label>
                <p class="control">
                  <input class="input" [(ngModel)]="gameScore.place" min="1" max="5" type="number" placeholder="Placement">
                </p>
              </div>
              <div class="field">
                <label class="label  has-text-link">Points</label>
                <p class="control">
                  <input class="input" [(ngModel)]="gameScore.points" min="20" max="200" type="number" placeholder="Points">
                </p>
              </div>
              <div class="field">
                <label class="label  has-text-link">Milestones</label>
                <p class="control">
                  <input class="input" [(ngModel)]="gameScore.milestones" min="0" max="3" type="number" placeholder="Milestones">
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label  has-text-link">Awards Fund/Won</label>
                <div class="flex-inputs">
                  <p class="control">
                    <input class="input" [(ngModel)]="gameScore.awardsPlaced" min="0" max="3" type="number" placeholder="Funded">
                  </p>
                  <p class="control">
                    <input class="input" [(ngModel)]="gameScore.awardsWon" min="0" max="3" type="number" placeholder="Won">
                  </p>
                </div>
              </div>
              <div class="field">
                <label class="label  has-text-link">Actions</label>
                <p class="control">
                  <span class="buttons">
                    <a class="button is-danger" (click)="gameScore = null">cancel</a>
                    <a class="button is-success" (click)="addGameScoreToGame()">Confirm</a>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3" *ngFor="let item of game.gamePlayers;let i = index">
        <div class="pricing-table">
          <div class="pricing-plan">
            <div class="plan-header has-text-link">{{item.place}} place</div>
            <div class="plan-price has-text-warning"><span class="plan-price-amount">{{item.points}}</span>/rating</div>
            <div class="plan-items">
              <div class="plan-item has-text-link">{{item.milestones}} Millestones</div>
              <div class="plan-item has-text-link">{{item.awardsPlaced}} Funded Awards</div>
              <div class="plan-item has-text-link">{{item.awardsWon}} Funded Won</div>
            </div>
            <div class="plan-footer">
              <div class="buttons">
                <button class="button is-fullwidth" disabled="disabled">{{getPlayer(item.userId)}}</button>
                <button class="button is-fullwidth is-white has-text-danger is-small" (click)="removePlayer(i)">remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>