<section class="hero ">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline is-centered">
                <div class="column is-one-third-widescreen is-half-tablet is-half-desktop" *ngFor="let item of games">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img [src]="'../../assets/' + item.image" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{item.title}}</p>
                                    <p class="subtitle is-6">{{item.creator}}</p>
                                </div>
                            </div>
                            <div class="content has-text-justified">
                                <nav class="level is-mobile">
                                    <div class="level-item level-left has-text-link">Players: {{item.players}}</div>
                                    <div class=" level-item has-text-link">Age: {{item.age}}</div>
                                    <div class="level-item has-text-link level-right">Time: {{item.time}}</div>
                                </nav>
                                {{item.text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</section>
