.columns
    height: calc(100vh)
    width: 100%!important

.keep-overflow
    overflow: auto
.logo
    font-family: monospace
.hero
    background-image: url('../assets/header.jpg')
    background-size: cover