<div class="container">
  <br>
  <div class="columns is-paddingless is-multiline">
    <div class="column is-12">
      <div class="notification">
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              Joined Teams
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <a class="button is-small is-primary" (click)="createNewTeam()">Create Team</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="column  is-5">
      <div class="notification is-hover" [ngClass]="{'active-not': selectedTeam?.id === item.id}" (click)="selectTeam(i)"
        *ngFor="let item of teams;let i = index">
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <i class="{{item.icon}} fa-3x" [ngStyle]="{'color': item.color}"></i>
            </div>
            <div class="level-item">
              <div>
                <p class="has-text-link">{{item.title}}</p>
                <small class="">Members: {{item.teamUsers.length}}</small>
              </div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <div class="has-text-right">
                <p class="is-size-7">created: {{item.created | date :'dd/MM/yyyy'}}</p>
                <p class="is-size-7">owner: {{item.owner.lastname}}</p>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="notification" *ngIf="teams.length === 0">
        <nav class="level">
          <div class="level-left shrink">
            <div class="level-item">
              <i class="fa fa-ban fa-3x" [ngStyle]="{'color': 'white'}"></i>
            </div>
            <div class="level-item shrink">
              <div>
                <p class="has-text-link has-text-justified">You don't have created any teams yet. Join a team by
                  getting an invitation from a game master or request permissions to became a game master yourself.
                </p>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="column  is-7">
      <div class="notification" *ngIf="selectedTeam">
        <div class="has-text-centered team-icon" [ngStyle]="{'background': selectedTeam.color}">
          <i class="{{selectedTeam.icon}} fa-around fa-2x margin-top"></i>
        </div>
        <br>
        <p class="margin-top has-text-link is-size-5">{{selectedTeam.title}}</p>
        <nav class="level ">
          <div class="level-left">
            <p class="is-size-7">Owner: {{selectedTeam.owner.lastname}} {{selectedTeam.owner.firstname}}</p>
          </div>
          <div class="level-right">
            <a class="level-item has-text-primary" (click)="showAddMember = true">
              add member
            </a>
            <a class="level-item has-text-link" (click)="editTeam();">
              edit
            </a>
            <a class="level-item has-text-link" (click)="deleteTeam()">
              delete
            </a>
          </div>
        </nav>
        <div class="field has-addons" *ngIf="showAddMember">
          <div class="control is-expanded">
            <div class="dropdown is-left is-fullwidth" [ngClass]="{'is-active':usersFound.length > 0}">
              <div class="dropdown-trigger is-fullwidth ">
                <div class="field has-addons">
                  <div class="control has-icons-left is-expanded">
                    <input class="input input-search" [ngClass]="{'left-search': usersFound.length == 0}" [(ngModel)]="searchField"
                      placeholder="type email or nickname" (keyup)="searchUser()">
                    <span class="icon is-small is-left">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu" *ngIf="focused">
                <div class="dropdown-content">
                  <div *ngFor="let a of usersFound;let last = last">
                    <a class="dropdown-item" (click)="selectPlayerForInvite(a)">
                      {{a.nickname}} - {{a.email}}
                    </a>
                    <hr *ngIf="!last" class="dropdown-divider is-marginless">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="control">
            <a class="button is-dark" (click)="closeAddMember()">
              cancel
            </a>
          </div>
          <div class="control">
            <a class="button is-primary" (click)="sendInvitation()">
              Send Invitation
            </a>
          </div>
        </div>
        <div class="field" *ngIf="showAddMember">
          <div class="control">
            <textarea class="textarea" [(ngModel)]="comments" placeholder="Hi wanna join my team?"></textarea>
          </div>
        </div>
        <div class="field">
          <nav class="panel">
            <p class="panel-heading">
              Members and Invitations
            </p>
            <span class="panel-block" *ngFor="let item of members;let i = index">
              <span class="panel-icon">
                <i class="fa {{item.isMember ? 'fa-user' : 'fa-clock-o has-text-warning'}} fa-2x" aria-hidden="true"></i>
              </span>
              <span class="panel-text">{{item.fullname}}</span>
              <span class="is-size-7 is-italic">
                {{item.isMember ? 'joinded: '+ (item.actionDate | date:'dd-MM-yyyy'): 'sent: ' + (item.created |
                date:'dd-MM-yyyy')}}
              </span>
            </span>
          </nav>
        </div>
      </div>
      <app-team-details [team]="newTeam" (actionPerfomed)="addOrUpdate($event)"></app-team-details>
    </div>
  </div>