.logo
    font-family: monospace

.hero-img
    bottom: 30px
    left: 0
    top: -550px
    position: absolute
    width: 100%

.mars-image
    margin: 0 auto
    display: block
    height: 800px

@media screen and (max-width: 760px) 
    .line-1 
        font-size: 130%!important
    .mars-image 
        height: 300px!important
    .hero-img
        top: -150px!important

.hero-body
    padding-bottom: 7rem!important
    padding-top: 7rem!important
.bck
    background-color: black!important
    transition: background-color 500ms linear

.empty-bck
    background-color: rgba(0, 0, 0, 0)

.hero-foot
    position: relative

