<section class="is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar is-fixed-top {{openMenu ? 'has-background-white' : ''}} {{ bck ? 'bck' : 'empty-bck'}} ">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" [routerLink]="['/home']">
            <img class="" src="../assets/mars_planet_PNG39.png">&nbsp;&nbsp;
            <i class="has-text-weight-bold is-size-5 logo has-text-link">Home Planet</i> </a>
          <a role="button" class="navbar-burger burger" (click)="openMenu = !openMenu" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" [ngClass]="{'is-active': openMenu}">
          <div class="navbar-end">
            <div class="navbar-item" *ngIf="user">
              <a class="button is-warning is-outlined" (click)="logout();openMenu = false">
                Logout
              </a>
            </div>
            <div class="navbar-item" *ngIf="!user">
              <a class="button is-link is-outlined" [routerLink]="['/login']" (click)="openMenu = false">
                Login
              </a>
            </div>
            <div class="navbar-item" *ngIf="!user">
              <a class="button is-warning is-outlined" [routerLink]="['/register']" (click)="openMenu = false">
                Register
              </a>
            </div>
            <nav class="navbar" role="navigation" aria-label="dropdown navigation" *ngIf="user">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link has-text-link">
                  <i class="fa fa-user-circle-o fa-lg "></i>&nbsp; {{user.nickname ? user.nickname : user.lastname}}
                </a>
                <div class="navbar-dropdown is-right">
                  <a class="navbar-item" [routerLink]="['/profile']"  (click)="openMenu = false">
                    Profile
                  </a>
                  <a class="navbar-item"  (click)="openMenu = false" [routerLink]="['/users']" *ngIf="user.userRole === 0">
                    Users
                  </a>
                  <a class="navbar-item" >
                    Games
                  </a>
                  <a class="navbar-item" [routerLink]="['/game','new']" (click)="openMenu = false"  *ngIf="user.userRole === 2 || user.userRole === 0">
                    Create Game
                  </a>
                  <a class="navbar-item" [routerLink]="['/teams']" (click)="openMenu = false"  *ngIf="user.userRole === 2 || user.userRole === 0">
                    Teams
                  </a>
                  <hr class="navbar-divider">
                  <div class="navbar-item">
                    Version 0.1.0
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="hero-img">
      <img class="mars-image spinplanet" src="../../assets/mars-planet.webp" alt="">
    </div>
    <div class="container has-text-centered">
      <p class="has-text-link  line-1 anim-typewriter is-unselectable">Terraforming Mars </p>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot" *ngIf="currentUrl != 'register' && currentUrl != 'login'">
    <div class="container">
      <nav class="tabs">
        <ul>
          <li class="{{currentUrl ==  'home' ?  'is-active': ''}}"><a [routerLink]="['/home']">The Game</a></li>
          <li class="{{currentUrl ==  'ratings' ?  'is-active': ''}}"><a [routerLink]="['/ratings']" *ngIf="user">Ratings</a></li>
          <li class="{{currentUrl ==  'games' ?  'is-active': ''}}"><a [routerLink]="['/games']" *ngIf="user">Games</a></li>
          <li class="{{currentUrl ==  'game' ?  'is-active': ''}}"><a [routerLink]="['/game','new']" *ngIf="user">New
              Game</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>