<section class="hero is-medium">
  <div class="is-overlay-ctm"></div>
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar is-fixed-top is-mobile">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" [routerLink]="['/home']" >
            <img class="" src="../assets/mars_planet_PNG39.png">&nbsp;&nbsp;
            <i class="has-text-weight-bold is-size-5 logo">Terraforming Mars</i> </a>
          <a role="button" class="navbar-burger burger" (click)="openMenu = !openMenu" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" [ngClass]="{'is-active': openMenu}"> 
          <div class="navbar-end">
            <div class="navbar-item" *ngIf="user">
              <a class="button is-link is-outlined" [routerLink]="['/game','new']" (click)="openMenu = false">
                New Game
              </a>
            </div>
            <div class="navbar-item" *ngIf="user">
              <a class="button is-warning is-outlined" (click)="logout();openMenu = false">
                Logout
              </a>
            </div>
            <div class="navbar-item" *ngIf="!user">
              <a class="button is-link is-outlined" [routerLink]="['/login']" (click)="openMenu = false">
                Login
              </a>
            </div>
            <div class="navbar-item" *ngIf="!user">
              <a class="button is-warning is-outlined" [routerLink]="['/register']" (click)="openMenu = false">
                Register
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="hero-img">
      <img class="mars-image spinplanet" src="../../assets/mars-planet.webp" alt="">
    </div>
    <div class="container has-text-centered">
      <br>
      <p class="has-text-link title is-1 line-1 anim-typewriter is-unselectable">Terraforming Mars </p>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="{{currentUrl ==  'home' ?  'is-active': ''}}"><a [routerLink]="['/home']">News</a></li>
          <li class="{{currentUrl ==  'ratings' ?  'is-active': ''}}"><a [routerLink]="['/ratings']" *ngIf="user">Ratings</a></li>
          <li class="{{currentUrl ==  'games' ?  'is-active': ''}}"><a [routerLink]="['/games']" *ngIf="user">Games</a></li>
          <li class="{{currentUrl ==  'game' ?  'is-active': ''}}"><a [routerLink]="['/game','new']" *ngIf="user">New
              Game</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
