@import "../node_modules/bulmaswatch/nuclear/_variables.scss"
// $warning: orange
// $primary: blue
// $link: #92fffd 
// $info: #00b599

// $card-color: white
// $card-background-color: black
$card-shadow: 0 2px 3px #08dfe4, 0 0 0 1px #08dfe4
$card-header-shadow: 0 0 0 1px #08dfe4
$tabs-border-bottom-color: $blue
$tabs-link-active-border-bottom-color: $blue
$tabs-toggle-link-active-border-color: $blue
$tabs-boxed-link-active-border-color: $blue

$box-shadow: 0 2px 3px lighten($blue, 20%), 0 0 0 1px lighten($blue, 20%)