/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.min.css"
@import "../node_modules/ng-pick-datetime/assets/style/picker.min.css"
@import "../node_modules/toastr/build/toastr.min.css"

@import "./_variables.sass"
@import "../node_modules/bulma/bulma.sass"
@import "../node_modules/bulmaswatch/nuclear/_overrides.scss"
@import "../node_modules/bulma-extensions/bulma-pricingtable/dist/css/bulma-pricingtable.sass"

@import "./style.line.css"

body
    height: 100%
html
    height: 100%
    overflow: auto   
    overflow-x: hidden
   
.has-background-transparent
    background-color: rgba(255, 255, 255, 0)!important

.icon-search input
    @extend .input 
    font-size: 1rem!important
.icon-search
    padding: 0!important

.btn
    @extend  .button
.btn-default
    @extend  .is-primary

.icon-picker
    border-radius: 4px
.card, .card-header
    border: none
.is-size-small
    font-size: 10px!important
.box
    border: none!important
.nostyle
    text-decoration: none!important
// Bulma Extensions
