/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.min.css"
@import "../node_modules/ng-pick-datetime/assets/style/picker.min.css"


@import "../node_modules/bulmaswatch/nuclear/_variables.scss"


@import "../node_modules/bulma/bulma.sass"
@import "../node_modules/bulmaswatch/nuclear/_overrides.scss"
@import "../node_modules/bulma-extensions/bulma-switch/dist/css/bulma-switch.sass"
@import "../node_modules/bulma-extensions/bulma-divider/src/sass/index.sass"

@import "./style.line.css"
body
    background-image: url('./assets/outspace.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 100%
    overflow: auto

html
    height: 100%
    overflow: hidden!important

// Bulma Extensions
