.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    text-shadow: 3px 2px 9px #01ffff;
    border-right: 1px solid #01ffff;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */

.anim-typewriter {
    animation: typewriter 3s steps(19) 0.5s 1 normal both, blinkTextCursor 700ms steps(19) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 12em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #01ffff;
    }
    to {
        border-right-color: transparent;
    }
}

.spinplanet {
    animation: rotation 650s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#loader-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.709);
    z-index: 9999;
    display: none
}

.container-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.container1 {
    animation: fadeInUp 5s infinite;
}

.container2 {
    animation: fadeInDown 5s infinite;
}

.container3 {
    width: 100%;
    text-align: center;
}

.circle {
    position: absolute;
    display: block;
    border-radius: 50%;
    border: 2px solid #C04CFD;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
}

.circle1 {
    animation: rotate1 1s infinite linear;
    border-color: #b63f16;
    height: 100px;
    width: 100px;
    margin: -50px;
}

.circle2 {
    animation: rotate2 1s infinite linear;
    border-color: #A27035;
    height: 70px;
    width: 70px;
    margin: -35px;
}

.circle3 {
    animation: rotate3 1s infinite linear;
    border-color: #b63f16;
    height: 10px;
    width: 10px;
    margin: -5px;
}

.color1 {
    color: #e35928;
}

.color2 {
    color: #ee7042;
}

.color3 {
    color: #b6471f;
}

@keyframes rotate1 {
    0% {
        transform: rotateZ(20deg) rotateY(0deg)
    }
    100% {
        transform: rotateZ(100deg) rotateY(360deg)
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateZ(100deg) rotateX(0deg)
    }
    100% {
        transform: rotateZ(0deg) rotateX(360deg)
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateZ(100deg) rotateX(-360deg)
    }
    100% {
        transform: rotateZ(-360deg) rotateX(360deg)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        margin-top: 20px;
    }
    10% {
        opacity: 1;
        margin-top: 0px;
    }
    45% {
        opacity: 1;
        margin-top: 0px;
    }
    50% {
        opacity: 0;
        margin-top: 20px;
    }
    100% {
        opacity: 0;
        margin-top: 20px;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        margin-top: 0px;
    }
    10% {
        opacity: 1;
        margin-top: 20px;
    }
    45% {
        opacity: 1;
        margin-top: 20px;
    }
    50% {
        opacity: 0;
        margin-top: 0px;
    }
    100% {
        opacity: 0;
        margin-top: 0px;
    }
}

@keyframes fadeInDown2 {
    0% {
        opacity: 0;
        margin-top: -100px;
    }
    55% {
        opacity: 0;
        margin-top: -100px;
    }
    60% {
        opacity: 1;
        margin-top: -50px;
    }
    90% {
        opacity: 1;
        margin-top: -50px;
    }
    100% {
        opacity: 0;
        margin-top: 0px;
    }
}

.f {
    font-size: 0.8em;
    position: fixed;
    top: 5px;
    right: 10px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #A27035;
}

.f a {
    color: #DDCA7D;
}

.msg {
    padding-top: 150px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #A27035;
}

h5.msg {
    font-size: 3em;
    animation: fadeInDown2 5s infinite;
}